# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Model checkpoints & data
*.pth
*.pt
*.ckpt
input.txt

# macOS
.DS_Store
._*

# Windows
Thumbs.db
desktop.ini

# Editors
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

datasets/*
images/*
models/*